 .u-section-1 {
  min-height: 931px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 490px);
  height: 400px;
  background-image: none;
  margin: 161px 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 640px);
  height: 530px;
  background-image: none;
  margin: -561px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 1140px;
  height: 641px;
  margin: -402px auto 0;
}

.u-section-1 .u-shape-3 {
  width: 14px;
  height: 95px;
  margin: 30px auto 0 calc(((100% - 1140px) / 2) + -7px);
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -87px calc(((100% - 1140px) / 2) + 384px) 45px calc(((100% - 1140px) / 2) + 24px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 818px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 490px);
    height: 350px;
    margin-top: 611px;
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 584px);
    height: 411px;
    margin-top: -461px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 528px;
    margin-top: -348px;
  }

  .u-section-1 .u-shape-3 {
    width: 17px;
    height: 350px;
    margin-top: 74px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -984px;
    margin-right: calc(((100% - 940px) / 2) + 208px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 694px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 490px);
    margin-top: 546px;
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 584px);
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 398px;
  }

  .u-section-1 .u-shape-3 {
    width: 15px;
    height: 241px;
    margin-top: 332px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -980px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 593px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 490px);
    margin-top: 111px;
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 299px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 431px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 481px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    height: 288px;
    margin-top: 133px;
    margin-right: auto;
    margin-left: 50px;
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 312px);
    height: 306px;
    margin-top: -351px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 186px;
    margin-top: -264px;
  }

  .u-section-1 .u-shape-3 {
    height: 400px;
    margin-top: 455px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -992px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + -35px);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 937px;
}

.u-section-2 .u-accordion-1 {
  margin-top: 57px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 236px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 236px;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 8px 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 45px 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 236px;
  height: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 24px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0 13px 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.8;
  margin: 20px 13px 0 0;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 236px;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 22px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 0 0 0 14px;
}

.u-section-2 .u-text-8 {
  margin-left: 14px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 26px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: linear-gradient(#db545a, #a35559);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 60px 0;
  padding: 6px 20px 7px;
}

.u-section-2 .u-icon-5 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }
}